<header class="">
	<div class="header row">
		<div class="col-md-6">
		<a href="/">Home</a>
		</div>
		<div class="col-md-6 text-right log-in-out">
			{% if 'username' not in session %}
			<img class="avatar-image image-responsive" src="{{ url_for('static', filename='blank_user.gif') }}" 
				style="width:30px;height:30px;">
			<a href="{{url_for('showLogin')}}">Login </a>
			{% else %}
				<img class="avatar-image image-responsive" src="{{session['picture']}}" alt="{{ url_for('static', filename='blank_user.gif') }}" 
				style="width:30px;height:30px;">
				<a href="{{url_for('disconnect')}}">Logout </a>
			{% endif %}
		</div>
	</div>
</header>